* {
  padding: 0;
  margin: 0;
}

.svgInfoBoxContainer,
.svgTimelineContainer {
}

.container svg {
  display: block;
}

#infoBox {
  visibility: hidden;
}

circle.timelinecircle {
  transition: fill 0.3s ease-in-out;
}

circle.timelinecircle:hover {
  fill: darkgray;
}
